.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 50%;
  border: 1px solid #dfdfdf;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 50%;
  color: #fff;
  font-size: larger;
}
